body {
  background-image: url('images/paint_thing.jpg');
  background-size: auto 120vh;
  background-position: center bottom;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.title {
  position: absolute;
  top: 16%;
  left: 45%;
  font-size: 8vw;
  color: white;
  font-weight: normal;
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: bold;
}

.subtitle {
  position: absolute;
  top: calc(16% + 8vw);
  left: calc(45% + 30vw);
  font-size: 2.5vw;
  color: white;
  font-weight: normal;
  text-align: right;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.menu {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 16vw;
  height: 80vh;
  background-color: #3F4354;
  transform: translate(-50%, -50%);
  transform-origin: center center;
/*  transform: rotate(-80deg);*/
/*  transition: transform 0.4s ease-in-out;*/

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: #1AB13B;
  transform: translate(-50%, -50%);
}