body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 2%;
  margin: 0;
  color: white;
}

a {
  color: white;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
}

a:hover {
  color: #A8A8A8;
}

html {
  scroll-behavior: smooth;
}

.main_background {
  background-image: url('images/paint_thing.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.projects_background {
  background-color: #23242A;
  background-size: cover;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 8vw;
  color: white;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.bold {
  font-weight: bold;
}

.subtitle {
  position: absolute;
  top: calc(16% + 8vw);
  left: calc(45% + 30vw);
  font-size: 2.5vw;
  color: white;
  font-weight: normal;
  text-align: right;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.menu {
  position: fixed;
  top: 0%;
  background-color: #3F4354;
  clip-path: polygon(0% 70%, 0% 100%, 100% 100%, 100% 90%);
  width: 100%;
  height: 100%;

  animation: rotate 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {
    clip-path: polygon(0% 70%, 0% 100%, 100% 100%, 100% 90%);
  }
  10% {
    clip-path: polygon(0% 60%, 0% 100%, 100% 100%, 100% 100%);
  }
  35% {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 30% 100%);
  }
  40% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 16% 100%);
  }
  50% {
    clip-path: polygon(16% 0%, 0% 0%, 0% 100%, 16% 100%);
  }
  100% {
    clip-path: polygon(16% 0%, 0% 0%, 0% 100%, 16% 100%);
  }
}

.menu_text {
  position: fixed;
  padding: 1%;
  top: 0%;
  left: -16%;
  display: flex;
  flex-direction: column;

  animation: slide 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes slide {
  0% {
    left: -16%;
  }
  37.5% {
    left: -16%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 0%;
  }
}

.FRC_Bezier {
  position: relative;
  margin: 1%;
  left: 16%;
  height: 45%;
  width: 81%;
}

.bezier_picture {
  position: relative;
  height: 100%;
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('images/bezier.png');

}

.bezier_text {
  position: absolute;
  color: white;
  left: 50%;
  margin: 1%;
}